
.beersWrapper {
    text-align: center;
}

.beersContainer {
    display: grid;
    justify-content: center;
    grid-gap: 25px;
    text-align: left;
}

.beerContainer {
    box-sizing: border-box;
    padding: 15px;
    width: 350px;
    display: flex;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 5px black;
}

.beerContainer:nth-child(1) {
    grid-column: 1;
}

.beerContainer:nth-child(2) {
    grid-column: 2;
}

.beerContainer:nth-child(3) {
    grid-column: 3;
}

.image {
    margin-right: 15px;
}

.infosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    margin: 30px 0 0 0;
}